@import url("https://fonts.googleapis.com/css?family=Allura|Josefin+Slab&display=swap");
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.nav {
  background: #0082e6;
  height: 80px;
  width: 100%;
}

.nav label.logo {
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}

.nav ul {
  float: right;
  margin-right: 20px;
}

.nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

.nav ul li a {
  color: white;
  font-size: 17px;
  text-transform: uppercase;
  padding: 7px 13px;
  border-radius: 5px;
}

.nav a.active,
.nav a:hover {
  background: #1b9bff;
  -webkit-transition: .5s;
  transition: .5s;
}

.nav .checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

.nav #check {
  display: none;
}

@media (max-width: 952px) {
  label.logo {
    font-size: 30px;
    padding-left: 50px;
  }
  .nav ul li a {
    font-size: 16px;
  }
}

@media (max-width: 858px) {
  .nav .checkbtn {
    display: block;
  }
  .nav ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    -webkit-transition: all .5s;
    transition: all .5s;
  }
  .nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  .nav ul li a {
    font-size: 20px;
  }
  .nav ul li a :hover,
  .nav ul li a .active {
    background: none;
    color: #0082e6;
  }
}

#check:checked ~ ul {
  left: 0;
}

.banner-image {
  background: url(../img/bg.jpeg) no-repeat;
  background-size: cover;
  height: 600px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner-content {
  text-align: center;
  color: white;
}

.banner-content h1 {
  text-transform: uppercase;
  line-height: 38px;
  margin-bottom: 15px;
  color: white;
  font-weight: bold;
}

.banner-content h1 span {
  color: darkblue;
}

.about {
  padding: 5% 10%;
  text-align: center;
}

.about h1.title {
  margin-bottom: 20px;
  color: #444444;
  font-family: 'Allura', cursive;
  text-transform: uppercase;
  font-size: 38px;
  word-spacing: 25px;
  letter-spacing: 5px;
}

.about p {
  font-family: 'Josefin Slab', serif;
}

.about .btn a {
  display: block;
  width: 180px;
  height: 35px;
  border: 2px solid blue;
  line-height: 35px;
  margin: 25px auto 0;
  color: blue;
  text-align: center;
}

.about .btn a:hover {
  background-color: lightgray;
  color: blue;
}

.services {
  background: #f4f4f4;
  padding: 5% 10%;
  text-align: center;
}

.services h1.title {
  margin-bottom: 20px;
  color: #444444;
  font-family: 'Allura', cursive;
  text-transform: uppercase;
  font-size: 38px;
  word-spacing: 25px;
  letter-spacing: 5px;
}

.services p {
  font-family: 'Josefin Slab', serif;
}

.services .diff-services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 35px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.services .diff-services-item {
  width: 30%;
}

.services .diff-services-item img {
  width: 100%;
  margin-bottom: 25px;
}

.services .diff-services-item h3 {
  color: blue;
  margin-bottom: 15px;
}
/*# sourceMappingURL=styles.css.map */